
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
  font-family: 'Britney';
  src: url('../fonts/Britney-Variable.woff2') format('woff2'),
       url('../fonts/Britney-Variable.woff') format('woff'),
       url('../fonts/Britney-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

