@import url(../css/clash-display.css);
@import url(../css/britney.css);

:root{
    --c-dark: #212529;
    --c--brand: #423bda;
    --c--brand-light: #6970dd;
    --c--brand-rgb: 78, 71, 212;
    --c--body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --font-home: "Britney", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0, 0.08);
}

*{
    margin: 0;
}

body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: white;
    width: 100%;
    min-height: 100svh;
    background: rgb(25,14,103);
    background: linear-gradient(180deg, rgba(25,14,103,0.85) 0%, rgba(36,22,129,0.85) 40%, rgba(85,94,134,0.85) 100%);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    font-weight: 600;
    text-align: center;
}

.btn {
    font-weight: 600;
    font-size: 1rem;
    width: 15rem;
    text-transform: uppercase;
    border-radius: 0;
    padding: 1rem 2rem;
}

.btn-brand {
    background-color: var(--c--brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c--brand-light);
    border-color: var(--c--brand-light);
}

.home{
    font-family: var(--font-home);
    font-weight: 600;
    color: white;
    text-decoration: underline;
    line-height: 1.7;
    padding: 1rem;
}

.regen{
    margin-bottom: 2rem;
}

.meme{
    max-width: 40rem;
}
