{% extends 'base.html' %}

{% block content %}
<div class="row min-vh-100 d-flex align-items-center text-center">
    <div class="col">
        <a href="{{ url_for('main') }}" class="home"><h1>Random Stuff</h1></a>
        {% if error_message %}
        <h2 class="text-uppercase text-white fw-semibold display-1">{{ error_message }}</h2>
        {% endif %}
    </div>
</div>
{% endblock %}