{% extends 'random.html' %}

{% block title %}
GIF
{% endblock %}

{% block object %}
<a href="{{ gif_url }}"><img src="{{ gif_url }}" alt="random-gif"></a>
{% endblock %}

{% block regenerate %}
<a href="{{ url_for('get_random_gif') }}" class="btn btn-brand">REGENERATE</a>
{% endblock %}