{% extends 'base.html' %}


{% block content %}
    <div class="row min-vh-100 d-flex align-items-center text-center">
        <div class="col-12">
            <a href="{{ url_for('main') }}" class="home"><h1>Random Stuff</h1></a>
            <h2 class="text-uppercase fw-semibold display-1">Welcome to Random Stuff</h1>
            <h5 class="mt-3 mb-4">Generate whatever you want!</h5>
            <div>
                <a href="{{ url_for('get_random_gif') }}" class="btn btn-brand me-2">GIF</a>
                <a href="{{ url_for('get_random_sticker') }}" class="btn btn-brand ms-2">Sticker</a>
                <a href="{{ url_for('get_random_joke') }}" class="btn btn-brand ms-2 me-2">Joke</a>
                <a href="{{ url_for('get_random_meme') }}" class="btn btn-brand ms-2">MEME</a>
            </div>
        </div>
    </div>
{% endblock %}