{% extends 'random.html' %}

{% block title %}
JOKE
{% endblock %}

{% block object %}
<p>{{ joke }}</p>
{% endblock %}

{% block regenerate %}
<a href="{{ url_for('get_random_joke') }}" class="btn btn-brand">REGENERATE</a>
{% endblock %}