{% extends 'random.html' %}

{% block title %}
MEME
{% endblock %}

{% block object %}
<a href="{{ meme_url }}"><img class="meme" src="{{ meme_url }}" alt="random-meme"></a>
{% endblock %}

{% block regenerate %}
<a href="{{ url_for('get_random_meme') }}" class="btn btn-brand regen">REGENERATE</a>
{% endblock %}