{% extends 'base.html' %}


{% block content %}
<div class="row min-vh-100 d-flex align-items-center text-center">
    <div class="col">
        <a href="{{ url_for('main') }}" class="home"><h1>Random Stuff</h1></a>
        <h2 class="text-uppercase text-white fw-semibold display-1">Your random {% block title %}{% endblock %}</h2>
        {% block object %}{% endblock %}
        <br><br>
        {% block regenerate %}{% endblock %}

    </div>
</div>

{% endblock %}