{% extends 'random.html' %}

{% block title %}
STICKER
{% endblock %}

{% block object %}
<a href="{{ sticker_url }}"><img src="{{ sticker_url }}" alt="random-sticker"></a>
{% endblock %}

{% block regenerate %}
<a href="{{ url_for('get_random_sticker') }}" class="btn btn-brand">REGENERATE</a>
{% endblock %}